<ul>
  <li>
    <lable>Title</lable>
    <%= form.text_field :title %>
  </li>
  <li>
    <lable>Description</lable>
    <%= form.text_area :description %>
  </li>
  <li>
    <lable>Status</lable>
    <%= form.text_field :status %>
  </li>
</ul>